################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.scannerwork
/archive
/bw-output
/code/.idea
/code/bin/RelWithDebInfo
/code/cmake-build-debug
/code/lib
/code/w64
/code/bin
